*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}


:root{
    --azulado: rgba(70,141,215,1);
    --marron:rgb(133, 93, 19);
    --celeste:rgb(134, 218, 243);
    --azuloscuro:rgb(11, 11, 65);
    --azul: rgb(84, 84, 167);

}
body{
    background-color: var(--azuloscuro);
}
.header{
    width: 100%;
    height: 3rem;
}

.nav__logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
   
}
.navlinks{
    display: none;
}
.nav__img{
    height: 3rem;
    width: 3rem;

}
.nav{
    display: flex;
    width: 100%;
    height: 3rem;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

}

.titulologo{
    font-size: 5px;
    color: white;
}

.menu-toggle-lista{
    display:block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 10px;
    list-style: none;
    background-color: var(--azuloscuro);
    width: 90%;
    height: 300px;
    left: 5%;
    right: 5%;
    z-index: 2;
    border: solid 2px var(--celeste);
    border-top: 0;
    border-radius: 10px;
    display:none;
}

.menu-toggle{
    display: none;
}


.menu-toggle-lista li{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    gap: 50px;
}

.lista__link{
    color: aliceblue;
}

.label{
    color: aliceblue;
}

#menu-toggle:checked + .menu-toggle-lista{
    display: block;
}



/* portada */
.container-form{
    display: none;
}
.portada{
    background-image: url(./imagenes/portada.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height:100%;
}

.container-button{
    width: 100%;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 2rem;
}
.title{
    display: flex;
    justify-content: center;
    padding-top: 5%;
    color: rgb(39, 118, 187);
    font-family:'Dancing Script',cursive;
    font-size: 20px;
}
.button{
    width: 6rem;
    height: 2rem;
    border-radius: 5px;
    background-color: var(--marron);
    display: flex;
    align-items: center;
    justify-content: center;

}
.button p{
    color: aliceblue;
}


/* galeria */

#galeria{
    margin:  50px;
}

.fotos1{
    position: relative;
    display: inline-block;
}
.fotos1 img{
    width: 200px ;
    height: 200px;
    position: relative;
    box-shadow: 0 10px 20px ;
    transition: all 300ms;
    gap: 40px;
}



.fotos1 h3{
    position: absolute;
    top: 40%;
    left: 10%;
    font-size: 20px;
    color: white;
    
}

.fotos1 a{
    position: absolute;
    top: 60%;
    left: 35%;
    font-size: 15px;
    color: var(--celeste);
    border-radius: 5px;
    background-color: rgb(168, 170, 170);
    padding: 5px;

}


.fotos2{
    position: relative;
    display: inline-block;
}
.fotos2 img{
    width: 200px ;
    height: 200px;
    position: relative;
    box-shadow: 0 10px 20px ;
    transition: all 300ms;
    gap: 40px;
}




.fotos2 h3{
    position: absolute;
    top: 40%;
    left: 20%;
    font-size: 20px;
    color: white;
    
}

.fotos2 a{
    position: absolute;
    top: 60%;
    left: 35%;
    font-size: 15px;
    color: var(--celeste);
    border-radius: 5px;
    background-color: rgb(168, 170, 170);
    padding: 5px;

}



.fotos3{
    position: relative;
    display: inline-block;
}
.fotos3 img{
    width: 200px ;
    height: 200px;
    position: relative;
    box-shadow: 0 10px 20px ;
    transition: all 300ms;
    gap: 40px;
}



.fotos3 h3{
    position: absolute;
    top: 40%;
    left: 25%;
    font-size: 20px;
    color: white;
    
}

.fotos3 a{
    position: absolute;
    top: 60%;
    left: 35%;
    font-size: 15px;
    color: var(--celeste);
    border-radius: 5px;
    background-color: rgb(168, 170, 170);
    padding: 5px;

}



.galeria{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    
}




.galeria__titulo h2{

color: aliceblue;
}

.galeria__titulo{
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;

}


/* section servicios */


.servicios__container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    


}

.servicios__img{
    width: 100px;
    height: 100px;
    margin: 10px;
    padding: 10px;
    border: solid var(--celeste);
    background: linear-gradient(0deg,rgba(70,141,215,1) 50%, rgba(70,230,217,1) 100%);
}

.titulo__servicios{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.servicios{
    max-width: 300px;
    max-height: 300px;
    padding: 10px ;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    
}

.servicios__p{
   width: 200px;
   height: 100px;
   margin-top: 10px;
  font-size: 20px;
  font-weight: 300;
  display: flex;
  justify-content: center;
  text-align: center;
color: aliceblue;
  
  
}

.titulo__servicios h2{
    color: aliceblue;
}

/* section sobre nosotros */


#sobrenosotros{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
 }
 .sobrenosotros__h2{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    color: aliceblue;
 }
 .sobrenosotros__p{
    width: 100%;
    height: auto;
    margin: 50px 50px; 
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .sobrenosotros__p p{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 5% 10%;
    font-size: 25px;
    font-weight: 400;
    color: var(--celeste);
 }



 /* contacto */

#contacto{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.contacto__info{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   

}


.titulo{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    color: aliceblue;
}

.contacto__info-form{
    width: 300px;
    height: 500px;
    margin: 10px;
    color: aliceblue;
}

.titulo_form{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    color: aliceblue;
}


.form{
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    align-content: center;
    gap: 15px;
    color: aliceblue;
}


.boton button{
   
    background-color: var(--celeste);
width: 100px;
height: 50px;
font-size: 15px;
border-radius: 10px;
border-color: var(--azuloscuro);
color: var(--azuloscuro);

    
}

.boton button:hover{
    color: var(--celeste);
border-color:var(--celeste);
background-color: var(--azuloscuro);
}


iframe{
    width: 200px;
    height: 200px;
}
.contacto__info-mapa{
    display: flex;
    justify-content: center;
    align-content: center;
}



.contacto__redes{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;

}

.redes{
    width: 90%;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: var(--celeste);
    padding-top:10px;
    border-radius: 15px;
    margin: 10px;
    gap: 10px;
}

.redes_img{
    width: 30px;
    height: 30px;

}

.redes_p p{
    font-size: 10px;
    display: flex;
    text-align: justify;
    
}

   
/* section footer */

.footer{
    width: 100%;
    height: 100px;
    padding: 0 10%;
    background: linear-gradient(0deg, rgb(12, 45, 80) 20%, rgb(117, 172, 231) 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}

.footer_link{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--azuloscuro);
}
   .footer p{
    color: aliceblue;
    text-align: center;
    font-size: 10px;
   }
   
   .footer_link p{
    color: aliceblue;
   }
   


   /* registro */


.registro{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    padding-top: 200px;
    background-color: var(--azuloscuro);
    padding: 5%;
    border-radius: 10px;
   


}

.registro h2{
    width: 100%;
    height: auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center ;
    padding: 10px;
    color: var(--celeste);
}


  
.formulario{
    border: solid 2px;
    border-radius: 15px;
    padding: 5px;
    color: var(--celeste);
}


.registro__form{
    padding: 10px;
}

.registro__form-boton{
    padding: 15px;
    display: flex;
    justify-content: center;
   }


.registro__form-boton button{
    background-color: var(--celeste);
    width: 150px;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
    border-color: var(--azulado);
    color: var(--azulado);

}


.registro__form-boton button:hover{
    
    color: var(--celeste);
    border-color:var(--celeste);
    background-color: var(--azulado);

}




/* ingreso */

.ingreso{
    width: 100%;
    height: 850px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 50px;
    background-color: var(--azuloscuro);
}

.ingreso h2{
   width: 100%;
   height: 50px;
   margin: 20px;
   display: flex;
   justify-content: center;
   align-items: center ;
   color: var(--celeste);
}


.ingreso__form{
    border: solid 2px;
border-radius: 15px;
padding: 5px;
color: var(--celeste);

}

.form{
    padding: 10px;
    color: var(--celeste);
}

.ingreso__form-boton{
    padding: 10px;
display: flex;
justify-content: center;
}


.ingreso__form-boton {
background-color: var(--celeste);
width: 150px;
height: 50px;
font-size: 20px;
border-radius: 10px;
border-color:  var(--azulado);
color:  var(--azulado);
}

.ingreso__form-boton:hover{
    color: var(--celeste);
border-color:var(--celeste);
background-color: var(--azulado);
}


   
   
   /* mediaquery */

   @media (min-width: 576px) {

    .contacto__redes{
        display: flex;
        flex-direction: row;
    }

    .footer{
        flex-direction: row;
        gap: 15px;
    }
}

@media (min-width: 768px) {

    .title{
        font-size: 40px;
    }

    .contacto__info{
        flex-direction: row;
        justify-content: space-between;
        
        padding: 50px;
    }
    
    @media (min-width: 992px) {

        main{
            padding: 0 5%;
        }


    .label {
        display: none;
    }
    
    .navlinks{
        width: 100%;
        display: flex;
        justify-content: end;
       

    }
    .nav__lista{
        display: flex;
        gap: 40px;
   
        

    }

    .portada{
        height: 700px;
    }

   .button{
    width: 8rem;
    height: 4rem;

   }

   .button p{
    font-size: 20px;
   }

   .container{
    display: flex;
    flex-direction: column;
    align-items: center;
   }

    .container-button{
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: center;
        padding: 50px;
    
    }
    
    
    .button{
        width: 120px;
        height: 40px;
        background-color: var(--marron);
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 30px;
        padding: 20px 100px;
        border: 20px;
        border-radius: 10px;
       
       
    }
    
    
    #botonp{
        color: rgb(255, 255, 255);
    }
    
    
    .container-form{
        background-color: var(--marron);
        width: 800px;
        height: 40px;
        display: flex;
        justify-content: space-around;
        align-items:center ;
        border-radius: 20px;
       
        
    }
    
    .container-form p{
        color: white;
    }
    
   }
   .galeria{
    flex-direction: row;
   }
    

   .fotos img{
    width: 300px;
    height: 300px;
   }

    

    iframe {
        width: 400px;
        height: 400px;
    }


    .redes_p p{
        font-size: 18px;
    }

    .footer p{
        font-size: 18px;
    }
}

@media (min-width: 1200px) {

    .header{
        height: 4rem;
    }
    .nav__img{
        height: 5rem;
        width: 5rem;
    }

    .nav__logo{
        margin-top: 20px;
    }

    .lista__link{
        font-size: 20px;
    }

   
    .contacto__info{
        justify-content: center;
        gap: 300px;
    }


    .redes_img{
        width: 50px;
        height: 50px;
    
    }
    
    .redes_p{
        font-size: 20px;
    }
    
    .redes{
        flex-direction: row;
        justify-content: space-around;
        
    }
    
    
    .footer_link{
        font-size: 20px;
    }
    
    .fotos1 img{
        height: 300px;
        width: 300px;
    } 
    .fotos2 img{
        height: 300px;
        width: 300px;
    }
    
    .fotos3 img{
        height: 300px;
        width: 300px;
    }
    
    .galeria{
        gap: 80px;
}

.fotos1 h3{
    left: 20%;
}

.fotos1 a{
    left: 40%;
}
.fotos2 h3{
    left: 30%;
}
.fotos2 a{
    left: 40%;
}

.fotos3 h3{
    left: 30%;
}
.fotos3 a{
    left: 40%;
}

}

   
   